*.o
*.lo
*.a
*.so*.a
*.la
*.lo
*.pyc
*.orig
*.rej
*.diff
TAGS
sched/status
sched/stop
sched/transitioner
sched/trickle_credit
sched/trickle_echo
sched/update_stats
sched/wu_check
sched/census
sched/cgi
sched/credit_test
sched/db_dump
sched/db_purge
sched/delete_file
sched/feeder
sched/file_deleter
sched/file_upload_handler
sched/get_file
sched/make_work
sched/message_handler
sched/put_file
sched/show_shmem
sched/sample_assimilator
sched/sample_bitwise_validator
sched/sample_dummy_assimilator
sched/sample_trivial_validator
sched/sample_work_generator
tools/cancel_jobs
tools/create_work
tools/dir_hier_move
tools/dir_hier_path
.deps
.libs
client/boinc
client/boinccmd
client/notices/
client/scripts/boinc-client
client/switcher
tools/sign_executable
apps/concat
apps/upper_case
config.h
Makefile
Makefile.in
cofnigure
config.log
config.status
config.sub
config.guess
compile
svn_version.h
samples/example_app/uc2
*.dSYM
lib/crypt_prog
lib/parse_test
